/*  File Content:
    Reset
    Basic Styles
    Section Styles 
    Media Querys */

/*  Reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  Basic Styles */

body {
    padding: 0px;
    margin: 0px;
    background-color: #EEEEEE;
}

main {
    margin-top: 150px;
    grid-area: content;
    text-align: center;
    padding-bottom: 30px;
}

header {
    grid-area: header;
    position: fixed;
    width: 100%;
}

section{
    padding: 30px 0px;
}

div, p, h1 {
    margin: 0px;
    padding: 0px;
}


footer {
    width: 100%;
    padding: 0 100px;
    padding-bottom: 20px;
    font-size: 18px;
    background-color: #DDDDDD;
    grid-area: footer;
    text-align: right;
}

ul {
    list-style-type: none;
}

footer li{
    font-weight: bold;
    padding: 5px;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/*Section Styles */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer";
    justify-items: center;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background-color: #EEEEEE;
}

.nav-brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

#header-img {
    width: 100px;
    height: 75px;
}

.brand-text {
    font-size: 26px;
    align-self: center;
}

.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#form-section{
    display: flex;
    flex-direction: column;
    width: auto;
}

#form-section h1{
    padding-top: 20px;
    font-size: 30px;
}

#form-section label{
    padding: 10px;
}

#form-section input[type="email"]{
    width:250px;
    padding: 8px;
}

#form-section input[type="submit"]{
    font-weight: bold;
    padding: 10px;
    background-color: #f1c40f;
}

.feature{
    display: flex;
    margin: auto;
    padding-bottom: 30px;
    width: 90%;
}

.feature .feature-img{
    width: 20%;
    display: none;
    color: orange;
    align-self: center;
    justify-self: center;

}

.feature .feature-content{
    margin:10px;
    text-align: center;
    width: 100%;
}

.feature .feature-header{
    font-size: 24px;
    font-weight: bold;
}

.feature .feature-description{
    font-size: 20px;
}

#pricing {
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: 35%;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
}

.card {
    position: relative;
    height: 100%;
    height: 300px;
    border: 3px solid black;
    background-color: white;
}

.card-header {
    padding-top: 10px;
    height: 15%;
    background-color: #EEEEEE;
    font-size: 20px;
    font-weight: bold;
}

.card-body {
    height: 70%;
    padding: 5%;
    line-height: 25px;
}

.card-footer {
    width: 100%;
    position: absolute;
    height: 15%;
    bottom: 0px;
}

.card-footer button {
    height: 80%;
    background-color:#f1c40f
}

.card-body .price {
    font-size: 30px;
    font-weight: bold;
    padding: 5%;
}

/*  Media Queries */
@media only screen and (min-width: 768px) {
    main {
        margin-top: 50px;
        grid-area: content;
        text-align: center;
        padding-bottom: 30px;
    }

    #nav-bar {
        flex-direction: row;
    }

    .nav-links  {
        flex-direction: row;
    }

    .nav-links a{
        margin-right: 20px;
    }
    
    .feature .feature-content{
        width: 80%;
    }

    .feature .feature-content{
        text-align: left;
    }

    .feature .feature-img{
        display: block;
    }

}

@media only screen and (min-width: 992px) {
    .feature .feature-content{
        text-align: left;
    }

    .feature .feature-img{
        display: block;
    }

    #pricing {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }

}
